Date: 1 May 2011
Summary: A lot of research has been done into linguistic patterns recently.  This is the culmination of that research.

%h1 The greatest addition to language in recent memory!

:markdown

  There's been a lot of talk lately about the use of "That's what she said" in conversation and determining appropriate uses for it.  Using this recent progress in the important field, I have created what I think it the culmination of the research for Mac users - an autoresponder for iChat! You no longer need to think to get that's what she said responses to all your friends and work colleagues!

  All you need to do is put twss.rb somewhere, change the path in twss_autoresponder.scpt, and run twss_autoresponder as an applescript on message recieved in iChat!

= gist(951103)
